[project]
	description = For Testing
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/muneer-aj
[access "refs/for/refs/*"]
	read = group user/muneer-aj
	push = group user/muneer-aj
	label-Code-Review = -2..+2 group user/muneer-aj
	label-Verified = -1..+1 group user/muneer-aj
	rebase = group user/muneer-aj
	removeReviewer = group user/muneer-aj
	submit = group user/muneer-aj
[access "refs/heads/*"]
	read = group user/muneer-aj
	create = group user/muneer-aj
	push = +force group user/muneer-aj
	pushMerge = group user/muneer-aj
[access "refs/tags/*"]
	push = +force group user/muneer-aj
	pushTag = group user/muneer-aj
	pushSignedTag = group user/muneer-aj
